#cuerpoIndex {
    display: block;
    color: #e0dfd9;
    background-color: black;
    text-align: center;
    /* padding-top: 1px; */
    /* padding-bottom: 10px; */
    text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 50px;
    font-family: Impact;
    /* background: lightblue; */
    border-radius: 15px;
}
#cuerpoIndex1 {
    display: block;
    color: #e0dfd9;
    background-color: black;
    text-align: center;
    /* padding-top: 1px; */
    /* padding-bottom: 10px; */
    text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 50px;
    font-family: Impact;
    /* background: lightblue; */
    border-radius: 15px;
}
#seccionIndex{
    /*background-color: #ededf0;*/
    margin-top: 10px;
    /*border:1px solid orange;*/
    position: relative;
    margin:10px auto;
    height: 5px;
    width: 300px;
}
#cuerpo{
    text-align: center;
    margin: 2px auto;
    border-radius: 15px;
    background:firebrick;
    position: relative;

    
    left:-8em;
    top: -20em;
}
#cuerpo1{
    text-align: center;
    margin: 2px auto;
    border-radius: 15px;
    background:firebrick;
    position: relative;
  
  
    top: -17em;
    left: -8em;

}
#tituloIndex{
    position: initial;
    z-index: 1;
    border-left: 10px solid #ff152a;
    margin: 0 0 35px;
    color: #ff152a;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 40px;
    font-family: Impact;
}

#imagen{ 
    width: 130px;
    height: 130px;
}
#imagen1{ 
    width: 130px;
    height: 130px;
}



