#cuerpoIndex {
    display: block;
    background-color: black;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 50px;
    font-family: Impact;
    border-radius: 18px;
}
#cuerpoIndex1 {
    display: block;
    color:white;
    background-color: black;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 50px;
    font-family: Impact;
    border-radius: -8px;
}
#juego {
    display: block;
    color:black;
    background-color:#610B0B;
    text-align: center;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 50px;
    font-family: Impact;
    border-radius: 18px;
}
#seccionIndex{

    margin-top: 10px;
    color:black;
    position: relative;
    margin:10px auto;
    height: 5px;
    width: 300px;

}
#cuerpo{
    text-align: center;
    margin: 2px auto;
    border-radius: 15px;
    background:#B40404;
    position: relative;
    top: -15em;
    top: -20em;

}
#cuerpo1{
    text-align: center;
    margin: 2px auto;
    border-radius: 15px;
    background:green;
    position: relative;
    top: -9em;
    left: -8em;


}
#tituloIndex{
    position: initial;
    z-index: 1;
    border-left: 10px solid #ff152a;
    margin: 0 0 35px;
    color:black;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 40px;
    font-family: Impact;
}

#imagen{ 
    width: 100px;
    height: 100px;
    position: initial;
}
#nickname{ 
    width: 180px;
    height: 20px;
    position: initial;
}
#imagen1{ 
    width: 100px;
    height: 100px;
}

#avatar{
    font-size: 30px;


}
#tabla{
    background:#B40404;
    color:black;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 black, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 50px;
    font-family: Impact;
    border-radius: 18px;
}
#vista{
  
    background-color: black;
    color:white;
    text-align: center;
    font-size: 35px;
    font-family: Impact;
    border-radius: 15px;

}



